.accordion {
  border-top : 1px solid #adb3bb;
}
.full-width-bg-black {
  background-color : #2b2f35;
}
.full-width-bg-blue {
  background-color : #478ba7;
}
.padded {
  padding : 1rem 0rem;
}
.top-header {
  color : #ffffff;
  text-align : center;
}
.wrapper {
  margin : 0 auto;
  max-width : 640px;
}
