.full-width-bg-black {
  background-color : #2b2f35;
}
.full-width-bg-blue {
  background-color : #478ba7;
}
.padded {
  padding : 1rem 0rem;
}
.top-header {
  color : #ffffff;
  text-align : center;
}
.wrapper {
  margin : 0 auto;
  max-width : 640px;
}



.huom {
  border : solid 1px #ea634d;
  color : #ea634d;
  padding : 1rem 1rem;
  font-weight : bold;
  text-align : center;
}
